body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
	font-size: 18px;
}
img {
    max-width: 250px;
}
a {
    color: teal;
}
a:visited {
    color: none;
}
a:hover {
    color: salmon;
}
.large {
    font-size: 54px;
    font-weight: bolder;
}
.medium {
    font-size: 24px;
    font-weight: bolder;
}
.small {
    font-size: 12px;
    font-weight: bolder;
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.flex-container-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}
.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: darkgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.parallax-image {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #ddd;
    background-color: #282E34;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
}
.parallax-list-item {
    text-align: center;
}
.parallax-content-item {
    text-align: left;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 1.0;
    color: white;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
#index-1 {
    background-image: url("../images/background/london-night.jpg");
    min-height: 100%;
}
#index-2 {
    background-image: url("../images/background/dream-house.jpg");
    min-height: 100%;
}
#index-3 {
    background-image: url("../images/background/amazing-mountain.jpg");
    min-height: 100%;
}
#isc-1 {
    background-image: url("../images/nazaaraPhoto1.jpg");
    min-height: 100%;
}
#isc-2 {
    background-image: url("../images/nazaaraPhoto2.jpg");
    min-height: 100%;
}
#isc-3 {
    background-image: url("../images/nazaaraPhoto3.jpg");
    min-height: 100%;
}
#izzat-1 {
    background-image: url("../images/izzat-1.jpg");
    min-height: 100%;
}
#izzat-2 {
    background-image: url("../images/izzat-2.jpg");
    min-height: 100%;
}
#izzat-3 {
    background-image: url("../images/izzat-3.jpg");
    min-height: 100%;
}
#izzat-4 {
    background-image: url("../images/izzat-4.jpg");
    min-height: 100%;
}
#collage {
    width: 900px;
    height: 100%;
}
#index-body {
    background-color: gray;
}
#films {
    background-color: gray;
}
#index-social-media {
    background-color: darkgray;
}
