body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
	font-size: 18px;
}
header {
    font-size: 54px;
    font-weight: bolder;
}
.flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.flex-item {
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.index-1 .index-2 .index-3 {
    position: relative;
    opacity: 0.35;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.index-1 {
    background-image: url("../images/background/london-night.jpg");
    min-height: 100%;
}

.index-2 {
    background-image: url("../images/background/dream-house.jpg");
    min-height: 100%;
}

.index-3 {
    background-image: url("../images/background/amazing-mountain.jpg");
    min-height: 100%;
}

.index-content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #ddd;
    background-color: #282E34;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
}

.index-content-item {
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
