body, html {
    height: 100%;
    margin: 0;
    font-family: 'Comfortaa', cursive;
	font-size: 1vw;
}
a {
    color: teal;
}
a:visited {
    color: none;
}
a:hover {
    color: salmon;
}
.large {
    font-size: 5vw;
    font-weight: bolder;
}
.medium {
    font-size: 3vw;
    font-weight: bolder;
}
.small {
    font-size: 1vw;
    font-weight: bolder;
}
.flex-container-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.flex-container-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
}
.social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #B0B0B0;
    height: auto;
}
.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: #B0B0B0;
    padding: 0.75% 2% 0.75% 2%;
}
.navigation > a {
    font-weight: bold;
    background-color: #D2D2D2;
}
@media screen and (max-width: 600px){
    .navigation {
        font-size: 3vw;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px){
    .navigation {
        font-size: 2vw;
    }
}
@media screen and (min-width: 992px){
    .navigation {
        font-size: 1.5vw;
    }
}
.parallax-image {
    position: relative;
    opacity: 0.85;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    color: #ddd;
    background-color: #282E34;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
}
@media screen and (max-width: 1100px){
    .parallax-image {
        background-size: contain;
    }
}
.parallax-list-item {
    text-align: center;
}
.parallax-content-item {
    text-align: left;
}
.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: 1.0;
    color: white;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
#index-1 {
    background-image: url("../images/background/london-night.jpg");
    min-height: 100%;
}
#index-2 {
    background-image: url("../images/background/dream-house.jpg");
    min-height: 100%;
}
#index-3 {
    background-image: url("../images/background/amazing-mountain.jpg");
    min-height: 100%;
}
#isc-1 {
    background-image: url("../images/nazaaraPhoto1.jpg");
    min-height: 100%;
}
#isc-2 {
    background-image: url("../images/nazaaraPhoto2.jpg");
    min-height: 100%;
}
#isc-3 {
    background-image: url("../images/nazaaraPhoto3.jpg");
    min-height: 100%;
}
#izzat-1 {
    background-image: url("../images/izzat-1.jpg");
    min-height: 100%;
}
#izzat-2 {
    background-image: url("../images/izzat-2.jpg");
    min-height: 100%;
}
#izzat-3 {
    background-image: url("../images/izzat-3.jpg");
    min-height: 100%;
}
#izzat-4 {
    background-image: url("../images/izzat-4.jpg");
    min-height: 100%;
}
#index-body {
    background-color: gray;
}
#index-header {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 10%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}
#films {
    background-color: gray;
}
@media screen and (max-width: 600px){
    .mobile-container-column {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        position: relative;
        overflow-x: scroll;
    }
    .collage {
        max-height:100%;
        width: auto;
    }
    #index-row-1 {
        height: 80vh;
    }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
    .mobile-container-column {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        position: relative;
        overflow-x: scroll;
        height: auto;
    }
    .collage {
        max-width: 80%;
        height: auto;
    }
    #index-row-1 {
        height: 80vh;
    }
}
@media screen and (min-width: 992px){
    #index-row-1 {
        height: 70vh;
    }
    #collage-wider {
        flex-grow: 2;
    }
    .collage-container {
        width: 20%;
        height: 53%;
        object-fit: contain;
    }
    .hidden-collage-container {
        width: 0%;
        height: 0%;
    }
    .collage-item {
        width: 95%;
        height: 100%;
        object-fit: contain;
    }
}
.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  background: #000;
  color: #fff;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}
